@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

body {
    background-color: #f0f0f0;
}
.error-container {
    text-align: center;
    padding: 50px;
    margin-top: 100px;
}
.error-svg {
    max-width: 300px;
    margin-bottom: 20px;
}
.error-title {
    font-size: 3rem;
    color: #e83e8c;
    font-family: "Creepster", cursive;
}
.error-message {
    font-size: 1.6rem;
    color: #007bff;
    font-family: "Creepster", cursive;
}
