<link rel="stylesheet" href="css/notFound.css " />
<section>
    <div class="container error-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/2/28/404UnicornNotFound.svg"
                    alt="Error SVG"
                    class="error-svg"
                />
                <h1 class="error-title">404 Not Found</h1>
                <p class="error-message">Oh no! It seems like you've hit a dead
                    end.
                </p>
            </div>
        </div>
    </div>
</section>